.header {
    margin-left: 266px;
    padding: 0px;
}
.ant-layout-header {
    padding: 0 !important;
    height: auto !important;
    border-bottom: 1px solid lightgrey;
}
.btn {
    border-radius: 15px !important;
}
.btn3 {
    color: black !important;
    border: none !important;
    outline: none !important;
}
.btn3 span {
    vertical-align: baseline !important;
    font-size: 22px !important;
}
.ant-page-header-heading-left {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
}
.ant-page-header-heading-title {
    font-size: 26px !important;

}
a {
    color: black !important;
    font-size: 16px;
}